abis
key
node_modules
/mochawesome-report
/coverage
/coverageEnv
/scTopics
.DS_Store
/coverage.json
/flat
/build
/contracts.json
/spec.json
.vscode/

# Emacs backups
\#*#
.#*
*~

# Vim backups
.*.sw[po]

# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env